.pricing__section {
    padding: 100px 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafafa;
}

.pricing__container-card {
    background: linear-gradient(45def, #0660e9 0%, #276afb 100%);
    box-shadow: 0 6px 20px rgba(56, 125 255, 0.2);
    
}